.background {
  position: absolute;
  filter: brightness(50%);
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.title {
  animation: titleAppear 1s;
  @apply text-5xl;
  color: white;
  z-index: 9;
}

@keyframes titleAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
