.image1, .image2 {
  position: absolute;
}

.image1 {
  width: 600px;
  height: 400px;
  top: 90px;
  right: 30rem;
  @apply z-10;
}

.image2 {
  width: 700px;
  height: 400px;
  top: 320px;
  @apply right-20;
}