.background {
    background-image: url('../../assets/images/contact-background.jpg');
    position: relative;
    top: 0;
    @apply -left-20;
    height: 100vh;
    background-size: cover;
    filter: brightness(100%);
    object-fit: cover;
    width: 100vw;
    z-index: 0;
}


.footerContent{
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    :global button {
        text-transform: none !important;
        border: solid white 1px;
    }
    :global button:hover {
        text-transform: none !important;
        border: solid white 1px;
    }
}
