.background {
  background-image: url('../../assets/images/login-background.jpg');
  position: absolute;
  top: 0;
  @apply -left-20;

  background-size: cover;
  filter: brightness(50%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

@keyframes titleAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
